<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192493335491-n8rgetu5ikrra39gtdk7b6fqainv9rq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192493335491-n8rgetu5ikrra39gtdk7b6fqainv9rq4</string>
	<key>API_KEY</key>
	<string>AIzaSyC157Mb5q1erHxLR0oZnhXnLIdynxfvbVw</string>
	<key>GCM_SENDER_ID</key>
	<string>192493335491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobile-app.Twitter2</string>
	<key>PROJECT_ID</key>
	<string>twitter-654bd</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-654bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192493335491:ios:c6868a105380acd6e60376</string>
</dict>
</plist>